

// ------------------------------------ Fonts

$base-font-size: 16px;

// Heading font
// $brand-font: 'Circular', sans-serif;
$brand-font: "brandon-grotesque", sans-serif;
$copy-font: "brandon-grotesque", sans-serif;



// ------------------------------------ Color


$brand-green: #C4D29B;
$brand-brown: #5A5129;

//--- Brand pink
$brand-pink: #E2C6B6;
$brand-pink-2:#e6cfc1;
$brand-pink-3:#ebd7cc;

$l-grey: #D8D8D8;
$m-grey: #6b6b6b;
