.full-screen-nav{
  top: 0;
  left: 0;
  width: 100%;


  &--footer{
    position:fixed;
    z-index: -1;
  }

  .home &{
    position:relative;
  }

  a{
    width:100%;
  }

  .mask{
    float:left;
  }

  .kwicks {
    height: 100%;
    overflow:scroll;
    padding-top:10vh;
    background:#ebd7cc;

    a:nth-child(1){
      .nav-split{
        background:#ebd7cc;
      }
    }
    a:nth-child(2){
      .nav-split{
        background:#e6cfc1;
      }
    }
    a:nth-child(3){
      .nav-split{
        background:#E2C6B6;
      }
    }
  }



  // hgroup{
  //   position: absolute;
  //   bottom:6%;
  //   right:10%;
  //   z-index: 2;
  //
  //   h2{
  //     color:white;
  //     text-align:right;
  //     font-size: em(50px);
  //     text-shadow: 3px 3px 5px rgba(0,0,0,.2);
  //   }
  // }

  &--visible{
    z-index: 80;
  }
}

// .nav-company{
//   .image{
//     width:100%;
//     height:80%;
//     background: url(assets/images/products/prd-jura-gigax3-p.png) no-repeat;
//     background-size:contain;
//     // background-attachment: fixed;
//   }
// }

.nav-split{
  display: block;
  width: 100%;
  position: relative;
  color:white;
  height:30vh;

  &__prd-detail{
    height:100%;

    &__text{
      position:absolute;
      bottom:50%;
      width:75%;
      left:6%;
      margin: 0 auto;
      z-index:2;

      h2{
        font-size:3.75em;
        margin-bottom:15px;
        // transform: translateY(76%);
      }
      &__desc, h2{
        transition: transform .35s ease-in-out 0s;
      }
      &__desc{
        display: none;
        transform: translateY(130%);
        color:white;
        font-weight: 400;
        margin-bottom:0;
      }
    }

    .image{
      position: absolute;
      // right: -30%;
      right:0;
      top:50%;
      transform: translateY(-50%);
      width:200px;
      // width:500px;
    }

    img{
      opacity:1;
      transition: opacity .25s ease-in-out;
    }
  }


  // &:after{
  //   content:"";
  //   position: absolute;
  //   top:0;
  //   left:0;
  //   width:100%;
  //   height:100%;
  //   z-index: 1;
  //   // background: rgba(0, 0, 0, .3);
  //
  //   transition: background .3s ease-in-out;
  // }
  //
  // &:hover{
  //   &:after{
  //     background: rgba(109, 107, 107, 0);
  //   }
  // }
}

@media screen and (min-width:700px){

  .kwicks {
    .full-screen-nav &{
      padding-top:0;
      height: 100vh;
    }
  }

  .nav-split{

    &__prd-detail{
      bottom:25%;
      left:12.5%;

      .image{
        position: relative;
        // right: -30%;
        right:-26%;
        top:50%;
        transform: translateY(-50%);
        width:300px;
        // width:500px;
      }


      &__text{
        width:200px;
        overflow:hidden;
        bottom:30%;

        h2{
          font-size:2em;
        }

        &__desc{
          display: block;
        }
      }
    }

    &:hover{
      .nav-split{
        &__prd-detail{
          &__text{
            h2, &__desc{
              transform: translateY(0);
              transition: transform .35s ease-in-out .2s;
            }
          }
          .image{

            img{
              opacity:.4;
            }
          }
        }

      }
    }
  }

  .full-screen-nav{
    position: fixed !important;

    a{
      width:33.33333%;
      height:100%;
    }

    .mask{
      float:initial;
    }
  }

  .nav-split{
    float:left;
    height:100vh;

    &__prd-detail{
      &__text{
        &__desc{

        }
      }
    }
  }

  // .full-screen-nav hgroup{
  //   h2{
  //     font-size: em(90px);
  //   }
  // }
}

@media screen and (min-width:900px){

  .full-screen-nav{
    position: fixed;
    height:100vh;
  }

  .nav-split{
    &__prd-detail{

      .image{
        // right: -30%;
        right:-30%;
        top:50%;
        transform: translateY(-50%);
        width:400px;
        // width:500px;
      }

      &__text{
        width:240px;
        overflow:hidden;

        h2{
          font-size:3em;
        }

        &__desc{
        }
      }
    }
  }
}

@media screen and (min-width:1200px){
  .nav-split{
    &__prd-detail{

      .image{
        // right: -30%;
        right:-30%;
        top:50%;
        transform: translateY(-50%);
        width:500px;
        // width:500px;
      }

      &__text{
        width:290px;
        overflow:hidden;

        h2{
          font-size:3.8em;
        }

        &__desc{
        }
      }
    }
  }
}

@media screen and (min-width:1400px){
  .nav-split{
    &__prd-detail{

      &__text{
        width:320px;
        overflow:hidden;

        h2{
          font-size:4.4em;
          // transform: translateY(90%);
        }

        &__desc{
        }
      }
    }
  }
}



.kwicks > li {
  height: 100%;
  overflow:hidden;
}

.kwicks > li img{
  height:auto;
  width:107%;

}

.nav-company {
  background-color: $brand-pink;
  background-position:center bottom;
}

.nav-machines {
  background:lighten($brand-pink, 3%);
  background-position:center bottom;
}

.nav-coffee {
  background:lighten($brand-pink, 6%);
  background-position:center bottom;
}
